/.vscode
/ark-server-website
/blog-app
/cool-app
/cool-car-website
/discord-bots
/gpt-discord
/lets-learn-go
/mobile-gpt
/nova-website
/python-todo
/random stuff
/social-media-website
/social-media-website2
/swempington
/typescript-portfolio
/untitled-video-game